flow_geracao_energia.json
[{"id":"5d975559.a9cbbc","type":"tab","label":"Geracao Energia","disabled":false,"info":""},{"id":"ffa59ebb.9b46b","type":"function","z":"5d975559.a9cbbc","name":"","func":"let fields = msg.payload.fields;\nlet now = { payload: parseFloat(fields[0].value).toFixed(2) }\nlet today = { payload: parseFloat(fields[1].value).toFixed(2) }\nlet week = { payload: parseFloat(fields[2].value).toFixed(2) }\nlet month = { payload: parseFloat(fields[3].value).toFixed(2) }\nlet lifetime = { payload: parseFloat(fields[4].value).toFixed(2) }\nreturn [now, today, week, month, lifetime];","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":200,"wires":[["3bc41037.44525"],["6a656350.adca6c"],["cf52ecd0.0646a"],["fa69312f.8dd1a"],["860852f0.4502a"]]},{"id":"ac200fc6.ea5bc8","type":"http request","z":"5d975559.a9cbbc","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.auroravision.net/ums/v1/login?setCookie=true","tls":"","persist":false,"proxy":"","authType":"basic","credentials":{},"x":330,"y":120,"wires":[["8d6ec64c.a5f968"]]},{"id":"183a8295.7662c5","type":"http request","z":"5d975559.a9cbbc","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.auroravision.net/dash/services/gmi/summary/PlantEnergy.json?eids=18385586","tls":"","persist":false,"proxy":"","authType":"","credentials":{},"x":550,"y":200,"wires":[["136347e6.7fbd08"]]},{"id":"8d6ec64c.a5f968","type":"json","z":"5d975559.a9cbbc","name":"","property":"payload","action":"","pretty":false,"x":510,"y":120,"wires":[["2957a150.fb4bf6"]]},{"id":"3bc41037.44525","type":"ha-entity","z":"5d975559.a9cbbc","name":"Kw-agora","server":"df7dadad.33084","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Kw-Agora"},{"property":"device_class","value":"energy"},{"property":"icon","value":"mdi:flash"},{"property":"unit_of_measurement","value":"kWh"}],"state":"payload","stateType":"msg","attributes":[{"property":"state_class","value":"measurement","valueType":"str"},{"property":"last_reset","value":"1970-01-01T00:00:00+00:00","valueType":"str"},{"property":"device_class","value":"energy","valueType":"str"},{"property":"unit_of_measurement","value":"kWh","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1100,"y":80,"wires":[[]]},{"id":"136347e6.7fbd08","type":"json","z":"5d975559.a9cbbc","name":"","property":"payload","action":"","pretty":false,"x":730,"y":200,"wires":[["ffa59ebb.9b46b"]]},{"id":"82f81132.68f178","type":"change","z":"5d975559.a9cbbc","name":"Prepare request","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\t    \"Authorization\": \"Bearer \" & $flowContext('geracao_energia').token\t}","tot":"jsonata"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":200,"wires":[["183a8295.7662c5"]]},{"id":"2957a150.fb4bf6","type":"change","z":"5d975559.a9cbbc","name":"Save tokens","rules":[{"t":"set","p":"geracao_energia.token","pt":"flow","to":"payload.token","tot":"msg"},{"t":"set","p":"geracao_energia.exp","pt":"msg","to":"payload.exp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":120,"wires":[["82f81132.68f178"]]},{"id":"4fc3bb7c.1fe01c","type":"inject","z":"5d975559.a9cbbc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":200,"wires":[["82f81132.68f178"]]},{"id":"6a656350.adca6c","type":"ha-entity","z":"5d975559.a9cbbc","name":"Kw-today","server":"df7dadad.33084","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Kw-Hoje"},{"property":"device_class","value":"energy"},{"property":"icon","value":"mdi:flash"},{"property":"unit_of_measurement","value":"kWh"}],"state":"payload","stateType":"msg","attributes":[{"property":"state_class","value":"measurement","valueType":"str"},{"property":"last_reset","value":"1970-01-01T00:00:00","valueType":"str"},{"property":"device_class","value":"energy","valueType":"str"},{"property":"unit_of_measurement","value":"KWh","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1100,"y":140,"wires":[[]]},{"id":"cf52ecd0.0646a","type":"ha-entity","z":"5d975559.a9cbbc","name":"Kw-week","server":"df7dadad.33084","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Kw-Semana"},{"property":"device_class","value":"energy"},{"property":"icon","value":"mdi:flash"},{"property":"unit_of_measurement","value":"Kw"}],"state":"payload","stateType":"msg","attributes":[{"property":"state_class","value":"measurement","valueType":"str"},{"property":"last_reset","value":"","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1100,"y":200,"wires":[[]]},{"id":"fa69312f.8dd1a","type":"ha-entity","z":"5d975559.a9cbbc","name":"Kw-month","server":"df7dadad.33084","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Kw-mes"},{"property":"device_class","value":"energy"},{"property":"icon","value":"mdi:flash"},{"property":"unit_of_measurement","value":"Kw"}],"state":"payload","stateType":"msg","attributes":[{"property":"state_class","value":"measurement","valueType":"str"},{"property":"last_reset","value":"","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1100,"y":260,"wires":[[]]},{"id":"860852f0.4502a","type":"ha-entity","z":"5d975559.a9cbbc","name":"Kw-lifetime","server":"df7dadad.33084","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Kw-lifetime"},{"property":"device_class","value":"energy"},{"property":"icon","value":"mdi:flash"},{"property":"unit_of_measurement","value":"kWh"}],"state":"payload","stateType":"msg","attributes":[{"property":"state_class","value":"measurement","valueType":"str"},{"property":"last_reset","value":"1970-01-01T00:00:00","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1110,"y":320,"wires":[[]]},{"id":"c6c6836b.c97f7","type":"catch","z":"5d975559.a9cbbc","name":"","scope":["136347e6.7fbd08"],"uncaught":false,"x":90,"y":120,"wires":[["ac200fc6.ea5bc8"]]},{"id":"df7dadad.33084","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
